.content_header {
  position: fixed;
  z-index: 1000;
  width: 60%;
  margin: 20px;
  border-radius: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #8bafa8;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
}

.content_header:hover {
  background-color: #7fa297;
}

.content_header_title h1 {
  margin: 0 20px;
  font-family: 'Poppins', sans-serif;
  font-size: 1.8rem;
  color: #fff;
}

.content_header_icons {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 20px;
}

.content_header_perfil {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  padding-right: 20px;
}

.content_header_perfil img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.content_header_notification mat-icon {
  font-size: 2rem;
  color: #fff;
  transition: color 0.3s ease;
}

.content_header_notification mat-icon:hover {
  color: #ffdd57;
}

.space {
  height: 100px;
}