.example-container {
  height: 100vh;
  display: flex;
  background-color: #eafaf1; /* Fondo muy claro en un tono verde suave */
}

.mat-sidenav-container {
  flex: 1;
}


.mat-sidenav {
  width: 250px; /* Ancho del sidenav */
  background-color: #81c784; /* Fondo en un tono verde claro */
  color: #fff; /* Color del texto */
  padding: 20px;
  box-shadow: 2px 0 10px rgba(0, 0, 0, 0.1); /* Sombra más suave */
  display: flex;
  flex-direction: column; /* Organizar los elementos en columna */
}

.mat-nav-list {
  list-style: none;
  padding: 0;
  
  flex-grow: 1; /* Permitir que la lista ocupe el espacio disponible */
}

.link {
  display: flex;
  align-items: center;
  padding: 10px;
  margin: 5px 0;
  color: #fff; /* Color de texto de los enlaces */
  text-decoration: none; /* Sin subrayado */
  border-radius: 4px; /* Bordes redondeados */
  transition: background 0.3s; /* Efecto de transición */
}

.link.login{
  margin-top: 300px;
}

.link:hover {
  background-color: #a5d6a7; /* Color de fondo al pasar el mouse */
}

.link.active {
  background-color: #388e3c; /* Color de fondo activo */
}

.mat-icon {
  margin-right: 10px; /* Espaciado entre el ícono y el texto */
}

#back {
  margin-top: auto; /* Mover el enlace de Login hacia abajo */
  background-color: #388e3c; /* Color de fondo para el enlace de Login */
  border-radius: 4px;
  padding: 10px;
  color: #fff;
  text-align: center;
  transition: background 0.3s; /* Efecto de transición */
}

#back:hover {
  background-color: #a5d6a7; /* Color de fondo al pasar el mouse sobre Login */
}
