<div class="example-container"*ngIf="shouldRun">
  <mat-sidenav-container class="content">
    <mat-sidenav #snav [mode]="'side'" [opened]="true">
      <mat-nav-list>
        <a (click)="navigateDashboard()" class="link"><mat-icon>home</mat-icon>Dashboard</a>
        <a (click)="navigateDevices()" class="link"><mat-icon>people</mat-icon>Device</a>
        <a (click)="navigateIrrigation()" class="link"><mat-icon>settings</mat-icon>Irrigation</a>
        <a (click)="snav.close()" class="link" id="back"><mat-icon>meeting_room</mat-icon>Login</a>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <p><router-outlet></router-outlet></p>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
