<div class="profile">
  <h2>User Profile</h2>

  @let user = farmer;
  @if (user) {
      @if (!editMode) {
          <div>
              <img [src]="imagePreviewUrl || 'assets/default-image.png'" alt="Image of {{ user.username }}" />
              <p>Name: {{ user.username }}</p>
              <p>Email: {{ user.email }}</p>
              <p>Phone: {{ user.phoneNumber || 'Not specified' }}</p>

              <button class="primary-button" (click)="toggleEditMode()">Edit Profile</button>
          </div>
      }

      @if (editMode) {
          <div>
              <form (ngSubmit)="updateFarmer()">
                  <label for="username">Name</label>
                  <input [(ngModel)]="user.username" name="username" id="username" type="text" />

                  <label for="email">Email</label>
                  <input [(ngModel)]="user.email" name="email" id="email" type="email" />

                  <label for="phoneNumber">Phone</label>
                  <input [(ngModel)]="user.phoneNumber" name="phoneNumber" id="phoneNumber" type="tel" />

                  <input type="file" (change)="onImageSelected($event)" />

                  <button type="submit" class="primary-button">Save Changes</button>
                  <button type="button" class="cancel-button" (click)="toggleEditMode()">Cancel</button>
              </form>
          </div>
      }
  } @else {
      <p class="loading">Loading profile...</p>
  }
</div>
