.example-container {
    display: flex;
  }
  
  .mat-sidenav-content {
    margin-top: 60px; /* Espacio para la barra superior */
    padding: 20px;
    flex-grow: 1;
    background-color: #F0F4F8;
  }
  
  .content {
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: auto;
  }
  