ngx-charts-advanced-pie-chart .legend-items{
  padding: 100px 0;
  overflow: visible;
  font-size: 12px;

}

.legend-items{
  padding: 100px 0;
  overflow: visible;
  font-size: 12px;

}
ngx-charts-advanced-pie-chart font{
  font-size: 12px;
}
