<div class="container">
  <h2 class="title">Irrigation Management</h2>

  <div class="form-group">
    <label for="cropSelect" class="label">Selecciona un cultivo:</label>
    <select id="cropSelect" class="form-control" [(ngModel)]="selectedCrop">
      @for (crop of crops; track crop.id) {
        <option [ngValue]="crop">{{ crop.cropName }}</option>
      }
    </select>
  </div>

  <div class="nav-buttons">
    <button
      class="nav-btn"
      (click)="toggleView()"
      [class.active]="irrigationData.mode === 'manual'"
    >
      Manual Irrigation
    </button>
    <button
      class="nav-btn"
      (click)="toggleView()"
      [class.active]="irrigationData.mode === 'automatic'"
    >
      Automatic Irrigation
    </button>
  </div>

  @if (irrigationData.mode === "manual" && selectedCrop) {
    <div class="manual-irrigation">
      <h3 class="section-title">Manual Irrigation</h3>
      <input
        type="number"
        [(ngModel)]="manualDuration"
        placeholder="Duration in minutes"
        class="duration-input"
      />
      <div class="action-btn-group">
        <button class="action-btn" (click)="startManualIrrigation()">
          Start Manual Irrigation
        </button>
        <button class="action-btn" (click)="stopManualIrrigation()">
          Stop Manual Irrigation
        </button>
      </div>
    </div>
  }

  @if (irrigationData.mode === "automatic" && selectedCrop) {
    <div class="automatic-irrigation">
      <h3 class="section-title">Automatic Irrigation</h3>
      <div class="checkbox-group">
        <input
          type="checkbox"
          id="consent"
          [(ngModel)]="irrigationData.consentGiven"
        />
        <label for="consent" class="checkbox-label"
          >Consent for automatic irrigation</label
        >
      </div>

      <div class="card">
        <h4 class="card-title">Moisture Information</h4>
        <p>
          <strong>Current Moisture:</strong>
          {{ irrigationData.currentSoilMoisture }}%
        </p>
        <p>
          <strong>Moisture Threshold:</strong>
          {{ irrigationData.sensorThreshold }}%
        </p>
      </div>

      <button class="action-btn" (click)="scheduleAutomaticIrrigation()">
        Schedule Automatic Irrigation
      </button>
    </div>
  }

  @if (feedbackMessage) {
    <div class="feedback">
      <p>{{ feedbackMessage }}</p>
    </div>
  }
</div>
